@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --corfundo:#008080;
    --amarelo:#ffe66d;
    --preto:#343434;
    --branco:#f7fff7;
    --roxo: #2f3061;
    --roxodegrade: #2f30617e;
    --Quatto: 'Quattrocento', sans-serif;
    --Oswald: 'Oswald', sans-serif;
    --Vietnam: 'Be Vietnam', sans-serif;
}

body{
    background-color: var(--corfundo);
    font-family: var(--Quatto);
    color: var(--branco);
}
main{
    background-color: var(--branco);
    border-radius: 10px;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    padding: 10px;
    color:var(--corfundo);
}
.corpo{
    margin-bottom: 20px;
}
table{
    max-width: 1000px;
    min-width: 800px;
    margin: auto;
    border: 3px solid black;
}
td{
    min-width: 100px;
    max-width: 110px;
    border: 1px solid black;
    padding: 3px;
    font-size: 1.3em;

}
#pimpnurg>li{
    color: red;
    font-style: italic;
}
  
.base{ 
    border: none;
}
.apagar{
    border-radius: 25px;
    text-align:center;
    margin: auto;
    padding: 2px;
    padding-bottom: 5px;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-color: red;
    color: white;
    border-style: none;
}
.apagar:hover{
    background-color: var(--corfundo);
    color:var(--branco);

}