@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --corfundo:#008080;
    --amarelo:#ffe66d;
    --preto:#343434;
    --branco:#f7fff7;
    --roxo: #2f3061;
    --roxodegrade: #2f30617e;
    --Quatto: 'Quattrocento', sans-serif;
    --Oswald: 'Oswald', sans-serif;
    --Vietnam: 'Be Vietnam', sans-serif;
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--corfundo);
    font-family: var(--Quatto);
    color: var(--branco);
}
main{
    background-color: var(--branco);
    border-radius: 10px;
    max-width: 1200px;
    min-width: 320px;
    margin: 5px auto;
    padding: 10px;
    color:var(--corfundo);
}
.form {
    display: block;
    flex-wrap: wrap;
}
table{
    width: 100%;
    margin: 20px auto;
    border: 3px solid black;
}
td{
    min-width: 100px;
    max-width: 110px;
    border: 1px solid black;
    padding: 3px;
    font-size: 1.3em;

}
  
.delete{
    border-radius: 50%;
    text-align:center;
    width: 18px;
    height: 18px;
    margin-left: 5px;
    background-color: rgb(211, 48, 48);
    color: white;
    border-style: none;
}
.delete:hover{
    background-color: var(--corfundo);
    color:var(--branco);
}
ul {
    list-style-type: none;
}